.alena-home__banner {
    background: white;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 20px;
    width: 70%;
    margin-left: 15%;
}

#alena-home__banner__header {
    font-size: 30px;
}

#alena-home__banner__footer {
    font-size: 13px;
}

#alena-home__banner__footer__record-button {
    background: #bad285;
    color: #54770f;
    line-height: 17px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    padding-right: 17px;
    border: 0px;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
}

#alena-home__banner__footer__shares-button {
    background: #fc8d8d;
    color: #9d1111;
    line-height: 17px;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
    padding-right: 17px;
    border: 0px;
    margin-top: 15px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.glyphicon {
    font-size: 14px;
    margin: 20px;
}

.alena-home__substring {
    color: #a0ce4e;
}

.alena-home__row {
    background: white;
    width: 70%;
    font-size: 13px;
    margin-left: 15%;
    padding-top: 60px;
    padding-bottom: 20px;
}

.alena-home__row__card__img {
    width: 100%;
}

.alena-home__line {
    margin: 0px;
    width: 70%;
    margin-left: 15%;
    border-top-width: 1px;
}

.alena-home__banner__img{
    margin-bottom: 20px;
}